@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border-b-2 shadow-2xl transition-all;
}

.btn-nav {
  @apply rounded-md;
}

.btn-lg {
  @apply px-4 py-2 text-xl rounded-lg;
}

.btn:hover {
  @apply shadow-lg filter brightness-110;
}

.btn-adogtame {
  @apply border-b-2 transition-all;
}

.btn-adogtame:hover {
  @apply filter brightness-110;
}

.navButtonActive {
  @apply opacity-50;
}

.path {
  clip-path: circle(50% at 50% 1%);
}
.path2 {
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
}

/* .btn-action {
  @apply bg-yellow-600 text-white border-yellow-700;
} */

.onboarding-transparency-right::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, #4b8591 100%);
}

.onboarding-transparency-left::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(90deg, #4f768e 0%, rgba(0, 0, 0, 0) 20%);
}

.floorShadowCircle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3rem;
  border-radius: 50% 50% 40% 40%;
  background: linear-gradient(0deg, #2d4757b3 0%, #2d4757 35%, #0000 100%);
  height: 4rem;
  filter: blur(8px);
  opacity: 0.4;
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.card {
  @apply rounded overflow-hidden shadow-lg;
}

.formAdopcion {
  position: "fixed";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  background-color: "#8a9bad";
  padding: "50px";
  z-index: 1000;
  border-radius: 25;
}


